/* Здесь вы напишете основную часть стилей страницы
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  min-height: 100vh;
  background-color: var(--bg-light);
}

/* Фон с градиентами */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background: var(--gradient);
  background-size: cover;
  z-index: -1;
  /* opacity: 0.7; */
}

.main-story,
.footer {
  display: flex;
  flex-direction: column;
}

.footer {
  width: clamp(300px, 48.6vw, 700px);
  height: 100%;
  /* background-color: var(--bg-light); */
  overflow: hidden;
  margin: 0 auto 100px;
}

/* Шапка */
.header {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0 60px;
  justify-content: center;
  align-items: center;
}

.site-header {
  height: clamp(200px, 38.2vw, 368px);
  width: clamp(300px, 48.6vw, 700px);
  display: grid;
  grid-template-rows: minmax(26px, 70px);
  justify-content: center;
  gap: 20px;
  background-color: var(--bg-light);
  border: 2px solid var(--bg-dark);
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  align-content: center;
  justify-items: center;
}

.header-title {
  text-align: center;
  font-family: var(--font-accent);
  font-weight: 400;
  font-style: normal;
  font-size: clamp(32px, 5.3vw, 65px);
  line-height: 1.2;
  text-transform: uppercase;
}

.title-abstract {
  font-size: clamp(12px, 3.5vw, 23px);
  line-height: 100%;
  text-transform: uppercase;
}

/* -----
 Карточка истории
 ----- */
.card {
  width: clamp(300px, 48.6vw, 700px);
  height: 100%;
  background-color: var(--bg-light);
  border: 2px solid var(--bg-dark);
  overflow: hidden;
  margin: 40px auto;
  opacity: 1;
}

.card-header {
  border: var(--bg-dark);
  padding: 5px 10px;
}

.card-title {
  font-family: var(--font-primary);
  /*  font-size: 18px; */
  font-size: clamp(16px, 1.125rem, 20px);
  vertical-align: middle;
  word-spacing: 1px;
}

/*  
картинка карточки 
 */
.card-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: crosshair;
}

/*  
Декоративный элемент картинки </HTML>
 */
.card-image-wrapper::after {
  content: "</HTML>";
  display: block;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-accent);
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--bg-light);
  mix-blend-mode: hard-light;
  z-index: 5;
}

.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  border: 2px solid var(--bg-dark);
  border-width: 2px 0;
  object-fit: cover;
  background-color: black;
}

/* -----
Пиксельный фильтр карточка 1
----- */
.pixel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Пиксельная текстура картинки */
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0 4px,
      /* белый цвет, прозрачность 20 % */ transparent 4px 8px
        /* шаг градиента — 13 px */
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 0 4px,
      transparent 4px 8px
    );
  mix-blend-mode: screen; /* режим наложения */
  pointer-events: none;
}

.card-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 25px;
  padding: 25px 25px;
  justify-items: start;
}

.card-paragraph {
  line-height: 21px;
  font-weight: 410;
  font-size: 18px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}

/* -----
Картинка карточки_1 */

.space-zoom img {
  transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  width: 100%;
  height: auto;
  transform-origin: 50% 50%; /* Фокус на центре */
}

.space-zoom:hover img {
  transform: scale(2.9);
}

/* оверлей черный */
.container-ray {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: crosshair;
}

.overlay-ray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26 26 26 / 80%);

  /* Изначально — полностью чёрный слой */
  -webkit-mask: none;
  mask: none;
  transition: mask 0.1s ease-out;
}

.card-image-wrapper:hover .circle-ray {
  opacity: 1;
  transform: scale(1);
}

/* ----- 
Анимация звездного неба 
----- */
.space {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  aspect-ratio: 1 / 1;
  transition: opacity 0.8s ease-in-out;
  animation: none;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff; /* Свечение */
  animation: none;
  opacity: 0;
}

/* 
Карточка_2 и фонарик
*/
.light-ray {
  border-radius: 50%;
  background-color: #ff6;
  inline-size: 200px;
  block-size: 200px;
}

.circle-ray {
  position: absolute;
  border-radius: 50%;
  width: 150%;
  height: 150%;

  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent 45%,
    black 50%
  );
  mask-image: radial-gradient(circle at center, transparent 45%, black 50%);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.8); /* Начальное сжатие */
  transition:
    opacity 0.3s ease-in-out,
    transform 0.4s ease-out;
}

.animate {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: float 5s linear forwards infinite alternate;
  inset-block-start: 50%;
  max-inline-size: 850px;
  translate: 0 -50%;
}

.lighter {
  margin-bottom: 20px;
  font-size: 2rem;
  transform: rotate(45deg);
  max-inline-size: 50px;
  max-block-size: 50px;
}

/*
Карточка_3 Aнинмированый зверек и часы
*/
.capybara-mask {
  height: 70%;
  position: absolute;
  transition: 5s ease;
  cursor: pointer;
  inline-size: 200px;
  inset-block-start: 80px;
  inset-inline-end: 30%;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.time_gone {
  cursor: pointer;
  z-index: 1;
  margin: 0 auto;
  padding: 0 0 50px;
  filter: sepia(100%);
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.visible-image,
.hidden-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1.5s ease;
}

/* Изначально третья картинка скрыта */
.hidden-image {
  transition: opacity 1.5s ease;
  opacity: 0;
}

.visible-image {
  transition: opacity 2.5s ease;
  opacity: 1;
}

.image-container:hover .visible-image {
  opacity: 0;
}

.image-container:hover .hidden-image {
  opacity: 1;
}

/* Изначально скрываем всё */
.images-container {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* -----
Погоня за идеалом 
Карточка_4 лампа
----- */
.neon-strip {
  position: absolute;
  top: 15%;
  left: 37%;
  width: 36%;
  height: 5%;
  background-color: transparent;
  box-shadow: 0 0 20px 5px rgba(255, 0, 255, 1);
  animation: neon-pulse 1s infinite alternate;
  transform: translateX(-50%) rotate(-17deg);
  animation-play-state: paused;
  z-index: 3;
}

.IT-table {
  filter: sepia(100%) brightness(70%);
  transition: filter 3s cubic-bezier(0.95, 0.5, 0.35, 0) 0.1s;
}

/* Конечное состояние при наведении */
.IT-table:hover {
  filter: sepia(0%) brightness(120%);
}

/* Анимация для вложенного элемента .neon-strip при наведении на .IT-table */
.IT-table:hover .neon-strip {
  animation: neon-pulse 1.1s infinite alternate;
}

/* неоновый блок */
.neon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: clamp(215px, calc(63% - 20px), 420px);
  aspect-ratio: 1 / 1;
}

.image {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*---------------------------------------------*/
@keyframes neon-pulse {
  from {
    text-shadow:
      0 0 5px #00f7ff,
      0 0 10px #00f7ff,
      0 0 20px #00f7ff,
      0 0 40px #00f7ff;
  }
  to {
    text-shadow:
      0 0 10px #00f7ff,
      0 0 20px #00f7ff,
      0 0 30px #00f7ff,
      0 0 50px #00f7ff;
  }
}

/*
Карточка_5 Поддержка + Стих
*/
.hover-block {
  position: absolute;
  /* left: 0; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card-image_help {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.hover-block:hover .images-container {
  opacity: 1;
}

/* Применение к элементам */
.hover-block:hover .image:nth-child(1) {
  animation: fadeInLeftTop 1s 0.5s forwards;
}
.hover-block:hover .image:nth-child(2) {
  animation: fadeInRightTop 1.17s 1s forwards;
}
.hover-block:hover .image:nth-child(3) {
  animation: fadeInRightBottom 1.33s 1.5s forwards;
}
.hover-block:hover .image:nth-child(4) {
  animation: fadeInLeftBottom 1.5s 2s forwards;
}
.hover-block:hover .image:nth-child(5) {
  animation: fadeInLeft 1.67s 3.5s forwards;
}
.hover-block:hover .image:nth-child(6) {
  animation: fadeInRight 1.83s 4s forwards;
}
.hover-block:hover .image:nth-child(7) {
  animation: fadeIn 2s 4.5s forwards;
}

.question-tag {
  background-image: url(/images/help-support.jpg);
  position: absolute;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
  background-size: cover;
}

.hover-block:hover .question-tag {
  filter: invert(0.8) blur(1.2rem);
  transition: filter 0.8s ease-in-out;
}

/* фотовая картинка с вопросом 
Фон с хаотичными пятнами */
.text-container_help {
  background:
    radial-gradient(
      circle at 20% 30%,
      rgb(170 255 194 / 35%) 0%,
      rgba(255, 255, 255, 0) 50%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgb(36 39 163 / 64%) 0%,
      rgba(0, 0, 0, 0.3) 40%
    ),
    radial-gradient(circle at 40% 80%, rgb(255 0 255 / 31%) 0%, #000000cc 30%),
    radial-gradient(
      circle at 60% 20%,
      rgb(197 2 2 / 26%) 0%,
      rgb(26 26 26 / 80%) 60%
    ),
    rgba(0, 0, 0, 0.75);
}

span {
  /* Запасной вариант для браузеров без поддержки text-stroke */
  color: #000000;
}

@supports (-webkit-text-stroke: 5px #4500ff91) {
  span {
    -webkit-text-stroke: 1px #000000; /* Обводка */
    color: transparent; /* Прозрачная заливка */
  }
}

.question_qnd {
  font-size: 140px;
  font-weight: bold;
  font-family: var(--font-primary);
  color: #00f7ff;
  text-align: center;
  text-shadow:
    0 0 5px #00f7ff,
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
  animation: neon-pulse 1.5s infinite alternate;
}

.exclamation_qnd {
  font-size: calc(20vw - 150px);
  color: #00f7ff;
  text-align: center;
  text-shadow:
    0 0 5px #8f49ff,
    0 0 10px #8f49ff,
    0 0 20px #8f49ff,
    0 0 40px #8f49ff;
  animation: neon-pulse 1.5s infinite alternate;
}

/* ----- Стили стихотворения ----- */
.poem {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
  max-width: 550px;
  margin: 1rem auto;
  padding: 1rem;
  background: linear-gradient(135deg, #f5f7fa 0%, #e4edf2 100%);
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.poem p {
  margin-bottom: 1.8rem;
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

.poem p:hover {
  opacity: 1;
}

.fade-btn {
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px;
  background-color: var(--bg-light);
  border: 2px solid var(--bg-dark);
  color: var(--bg-dark);
}

/*  Карточка_6  3 спринт: Обходные стратегии */


/*  Карточка_7  Когда опускаются руки */
.scene-sun {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(112, 140, 255) 0%,
    rgb(255, 255, 255, 0) 50%
  );
  overflow: hidden;
  cursor: pointer;
}

.sun {
  position: absolute;
  top: 10px;
  right: -15px;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, #ffd700, #ffa500);
  border-radius: 50%;
  box-shadow: 0 0 50px #ffa500;
  /* Две анимации: движение и пульсация */

  animation-play-state: paused;
}

.glare {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  animation: moveGlare 3s ease-in-out infinite alternate;
  opacity: 0.7;
  z-index: 3;
  animation-play-state: paused;
}

/* Круговые волны */
.wave-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border: 2px solid rgba(255, 215, 0, 0.6);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: expandWave 4s ease-out infinite;
  z-index: 1;
  animation-play-state: paused;
}

/* Анимации запускаются при наведении на .sun */
.scene-sun:hover .sun {
  animation:
    moveSun 8s 2s ease-in-out forwards,
    pulseSun 2s ease-in-out infinite 8s;
  animation-play-state: running;
}

.scene-sun:hover .glare {
  animation: moveGlare 3s ease-in-out infinite alternate;
  animation-play-state: running;
}

.scene-sun:hover .wave-ring {
  animation: expandWave 4s ease-out infinite;
  animation-play-state: running;
}

/* Оформление цитаты */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "«" "»" "‘" "’";
  font-style: italic;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/*--- «Сейчас я здесь» Карточка_8 ---*/
.figure__block-completion {
  background-color: darkviolet;
}

.block-completion {
  mix-blend-mode: hard-light;
}

/* ----- Модальное окно ----- */
/* Стили для кнопки открытия */

/* Контейнер для кнопок типа «Сохранить» */
.btn-container {
  display: block;
  text-align: center;
  margin: 30px auto;
}

.btn--save {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  
}

/* Стили модального окна */
#myModal {
  /*  display: grid;*/
  width: 353px;
  height: 191px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  border: 2px solid #000;
  padding: 2rem;
  overflow: hidden;
}

.modal-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  line-height: 150%;
  font-size: 14px;
  font-family: var(--font-accent);
}

.icon-save {
  width: 33px;
  height: 23px;
  flex-shrink: 0;
}

.close-btn {
  width: 100%;
  padding: 13px 134px;
  background-color: var(--bg-light);
  transition: all 0.3s ease;
}

/* Кнопка сохранения */
.save-button {
  display: block;
  text-align: center;
  margin: 30px auto;
  
}

.save-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 12px 30px;
  background-color: var(--bg-light);
  color: var(--bg-dark);
  cursor: pointer;
  font-family: var(--font-accent);
  line-height: 90%;
  font-size: 14px;
  transition: all 0.3s ease;
  border: 2px solid var(--bg-dark);
  overflow: hidden;

}

/* Стили для затемнения фона страницы (псевдоэлемент backdrop) */
#myModal::backdrop {
  background-color: black;
  opacity: 0.75;
}

.save-btn:hover,
.close-btn:hover {
  /*  background-color: #41bda8;*/
  transform: scale(1.05);
}

/* иконка и кнопка лайка */

.like-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

/* убираем стили с иконки */
.icon-button {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
}

.button_slide-in {
  width: 130px;
  height: 38px;
  font-weight: 400;
  font-family: var(--font-accent);
  line-height: 90%;
  font-size: 14px;
  text-align: center;
  background-color: var(--bg-light);
  color: var(--bg-dark);
  text-shadow: 0 0 var(--bg-dark);
  border: 2px solid var(--bg-dark);
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-radius: 0;
  padding: 0px;
  margin: 0;
}

.button_slide-in::before,
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-light);
  transform: scaleX(0) translateX(-100%);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 3;
  mix-blend-mode: difference;
}

.btn span,
.card__like-button span {
  position: relative;
  z-index: 1;
}

.btn:hover::before,
.button_slide-in:hover::before {
  transform: scaleX(1) translateX(0);
}

.btn:focus,
.button_slide-in:focus {
  box-shadow: 2px 2px 0 0 var(--black);
  outline: 2px solid var(--bg-dark);
  outline-offset: -2px;
}

/* масштабирование из центра */
.like-icon {
  will-change: transform;
  transform-origin: center;
  cursor: pointer;
}

.contour {
  transition: 0.1s linear;
}

.core {
  transition: 0.3s linear 0.03s;
}

.main-body {
  transition: 0.3s linear;
}

/* Состояние при наведении */
.like-icon:hover {
  --core-fill: var(--black);
  --main-body-fill: var(--black);
}

/* Состояние при клике */
.like-icon:active {
  --core-fill: var(--red);
  --main-body-fill: var(--red);
}

/* Стили для лайкнутого состояния */
.like-icon.is-liked {
  --core-fill: var(--red);
  --main-body-fill: var(--red);
  --contour-fill: var(--red);
  animation: heartScale 0.3s ease-in 0.1s;
}

.like-icon.is-liked:hover {
  --contour-fill: var(--black);
}

/* маштабирование иконки */
@keyframes heartScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* Базовые стили для искр */
.spark {
  opacity: 1;
  animation: sparkHide 0s linear; /* Начальная скрытая анимация */
}

/* Анимация появления и исчезновения искр */
.like-icon.is-liked .spark {
  opacity: 1;
  animation: sparkEffect 0.5s ease-in 0.3s; /* 0.3 сек длительность */
}

/* Анимация появления и исчезновения искр */
@keyframes sparkEffect {
  0% {
    opacity: 1;
    --spark-fill: var(--red);
  }
  50% {
    opacity: 0.1;
    --spark-fill: var(--red);
  }
  100% {
    opacity: 0;
    --spark-fill: transparent;
  }
}

@keyframes sparkHide {
  from {
    opacity: 1;
    --spark-fill: transparent;
  }
  to {
    opacity: 0;
    --spark-fill: transparent;
  }
}

/* Адаптивность для мобильных */
@media (max-width: 375px) {
  .header {
    padding: 100px 0 60px;
  }

  .site-header {
    width: 375px;
    height: 327px;
    padding: 0 0 120px;
    align-content: end;
    gap: 11px;
  }

  .header-title {
    font-size: 50px;
    padding: 6px 0 0;
    letter-spacing: -1px;
  }

  .title-abstract {
    font-size: 14px;
    font-size: clamp(12px, 4.3vw, 14px);
  }

  .data-card-collection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--bg-light);
  }

  .card {
    width: 100%;
    display: grid;
    justify-items: start;
    letter-spacing: 0.03rem;
    margin: 0;
  }

  .card-title {
    letter-spacing: 0.01rem;
    line-height: 118%;
  }

  .card-body {
    padding: 30px 15px 0 26px;
    justify-items: start;
    letter-spacing: 0.035rem;
  }

  .footer {
    background-color: var(--bg-light);
  }

  .save-btn {
    padding: 10px 17px;
    flex-direction: column;
  }
}
